<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="aa" class="com.gao.spring.circularDependence.ServiceAA">
        <property name="serviceBB" ref="bb"></property>
    </bean>
    <bean id="bb" class="com.gao.spring.circularDependence.ServiceBB">
        <property name="serviceAA" ref="aa"></property>
    </bean>
</beans>